body{
    margin: 0;
    padding: 0;
    font-size: 90%;
    font-family:'Lobster', cursive;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/login\ wallpaper.jpg);
    background-attachment: fixed;
}

.homeBtn {
    position: fixed;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
    color: black;
    font-weight: 800;
    transition: ease-in-out 0.3s;
  }
  
  .homeBtn:hover {
      color: white;
      text-shadow: 0px 3px 15px red;
  }

  .heading {
    color: black;
    position: fixed;
    font-size: 40px;
    top: 0;
    left: 0;
    margin: 20px;
    text-shadow: 0px 10px 20px red;
}

.aboutContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px solid black;
    margin: 12%;
    font-size: 17px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    background-color: white;
    box-shadow: 0px 3px 15px black;
}

@media (max-width: 870px) {
    .aboutContent {
        margin: 15%;
        font-size: 15px;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 2%;
    }
}

  @media (max-width: 600px) {
    .homeBtn {
      text-shadow: 3px 10px 15px white;
    }
    .aboutContent {
        margin-top: 25%;
        font-size: 12px;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 2%;
    }
  }
  
  @media (max-width: 450px) {
    .heading {
      font-size: 35px;
    }
    .homeBtn {
      text-shadow: none;
    }
    .aboutContent {
        margin-top: 35%;
        font-size: 10px;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 2%;
    }
  }

  @media (max-width: 360px) {
    .heading {
      font-size: 30px;
    }
    .aboutContent {
        margin: 10%;
        margin-top: 35%;
        font-size: 10px;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 2%;
    }
  }
  
  @media (max-width: 330px) {
    .heading {
      margin: 10px;
      font-size: 27px;
    }
    .homeBtn {
      margin: 10px;
      font-size: 23px;
    }
    .aboutContent {
        margin: 5%;
        margin-top: 35%;
    }
  }

  /* footer */

#footer {
  width: 100%;
  background: black;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-bottom: 3%;
}

#footer span{
  text-shadow: 0px 3px 15px red;
  font-size: 33px;
}

#footer div {
  display: flex;
  gap: 30px;
}

#footer a {
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

#footer a:hover {
  text-shadow: 0px 3px 15px red;
}

@media (max-width: 425px) {
  #footer {
    font-size: 17px;
  }
}

@media (max-width: 360px) {
  #footer {
    font-size: 14px;
  }
  #footer div {
    gap: 20px;
  }
}

@media (max-width: 346px) {
  #footer {
    font-size: 13px;
  }
}

/* Loader Css */

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}