body{
    margin: 0;
    padding: 0;
    font-size: 90%;
    text-align: center;
    font-family:'Lobster', cursive;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/wallpaper.jpg);
    background-attachment: fixed;
}

/* navbar */
.navSection {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15%;
}

.navSection h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    text-shadow: 0px 10px 20px red;
    font-size: 40px;
}


.homeBtn {
    position: fixed;
    top: 0;
    left: 90%;
    margin: 35px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.homeBtn:hover {
    text-shadow: 0px 3px 15px red;
}

.continueBtn {
    position: fixed;
    top: 0;
    left: 76%;
    margin: 39px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.continueBtn:hover {
    text-shadow: 0px 3px 15px red;
}

.totalPrice {
    position: fixed;
    top: 0;
    left: 41%;
    margin: 35px;
    font-size: 20px;
    color: white;
    text-shadow: 0px 3px 15px red;
    font-family: sans-serif;
}

@media (max-width: 1110px) {
    .continueBtn {
        top: 0;
        left: 70%;
        margin: 39px;
        font-size: 20px;
    }

    .navSection h1 {
        top: 0;
        left: 0;
        margin: 20px;
        font-size: 40px;
    }

    .homeBtn {
        top: 0;
        left: 90%;
        margin: 35px;
        font-size: 25px;
    }

}

@media (max-width: 850px) {
    .continueBtn {
        top: 0;
        left: 67%;
        margin: 30px;
        font-size: 18px;
    }

    .navSection h1 {
        top: 0;
        left: 0;
        margin: 18px;
        font-size: 35px;
    }

    .homeBtn {
        top: 0;
        left: 90%;
        margin: 29px;
        font-size: 20px;
    }
    .totalPrice {
        top: 0;
        left: 38%;
        margin: 30px;
        font-size: 18px;
    }
}

@media (max-width: 625px) {
    .navSection {
        height: 13%;
    }
    .continueBtn {
        top: 0;
        left: 64%;
        margin: 30px;
        font-size: 15px;
    }

    .navSection h1 {
        top: 0;
        left: 0;
        margin: 18px;
        font-size: 30px;
    }

    .homeBtn {
        top: 0;
        left: 90%;
        margin: 29px;
        font-size: 15px;
    }
    .totalPrice {
        top: 0;
        left: 35%;
        margin: 30px;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .navSection {
        height: 12%;
    }
    .navSection h1 {
        top: 0;
        left: 0;
        margin: 15px;
        font-size: 25px;
    }
    .continueBtn {
        top: 0;
        left: 64%;
        margin: 25px;
        font-size: 13px;
    }

    .homeBtn {
        top: 0;
        left: 90%;
        margin: 25px;
        font-size: 13px;
    }
    .totalPrice {
        top: 0;
        left: 35%;
        margin: 25px;
        font-size: 12px;
    }
}
@media (max-width: 415px) {
    .navSection {
        height: 10%;
    }
    .navSection h1 {
        top: 0;
        left: 0;
        margin: 7px;
        font-size: 23px;
    }
    
    .totalPrice {
        top: 0;
        left: 36%;
        margin: 20px;
        font-size: 10px;
    }
    .continueBtn {
        top: 0;
        left: 64%;
        margin: 18px;
        font-size: 10px;
    }
    .homeBtn {
        top: 0;
        left: 88%;
        margin: 18px;
        font-size: 10px;
    }
}
@media (max-width: 320px) {
    .navSection {
        height: 9%;
    }
    .navSection h1 {
        top: 0;
        left: 0;
        margin: 7px;
        font-size: 20px;
    }
    
    .totalPrice {
        top: 0;
        left: 36%;
        margin: 17px;
        font-size: 10px;
    }
    .continueBtn {
        top: 0;
        left: 65%;
        margin: 17px;
        font-size: 8px;
    }
    .homeBtn {
        top: 0;
        left: 88%;
        margin: 17px;
        font-size: 10px;
    }
}

/* cart section */

.shoe-image-cart{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top:  10%;
    gap: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

.shoe-card-cart {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: white;
    box-shadow: 0px 10px 20px black;
}

.shoe-card-cart button {
    position: relative;
    bottom: 100px;
    left: 20px;
    border: none;
    background: none;
    font-size: 25px;
    transition: ease-in-out 0.3s;
}

.shoe-card-cart button:hover {
    color: red;
    text-shadow: 0px 3px 15px black;
}

.info {
    background: red;
    padding: 10px;
    box-shadow: 0px 10px 20px black; 
}

.price-cart {
    color: white;
    text-shadow: 0px 3px 15px black;
    font-family: sans-serif;
}

.shoe-head-cart {
    color: white;
    text-shadow: 0px 3px 15px black;
}

.quntity {
    width: 15px;
    text-align: center;
    outline: none;
    border: none;
    box-shadow: 0px 3px 15px black;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
}

.quntity::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 1245px) {
    .shoe-card-cart button {
        left: 5px;
    }
}


@media (max-width: 1135px) {
    .cart-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 1045px) {
    .cart-container {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (max-width: 990px) {
    .cart-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 900px) {
    .cart-container {
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 850px) {
    .shoe-card-cart {
        width: 75%;
    }
    .cart-container {
        margin-top: 12%;
    }
}

@media (max-width: 750px) {
    .shoe-card-cart {
        width: 85%;
    }
    .cart-container {
        margin-top: 13%;
    }
}

@media (max-width: 625px) {
    .shoe-card-cart {
        width: 99%;
    }
    .cart-container {
        margin-top: 13%;
    }
}

@media (max-width: 550px) {
    .shoe-image-cart{
        width: 230px;
        height: 180px;
    }
    .shoe-card-cart {
        height: 50vh;
    }
    .cart-container {
        margin-top: 15%;
    }
    .info {
        font-size: 13px;
    }
}
@media (max-width: 460px) {
    .shoe-image-cart{
        width: 200px;
        height: 150px;
    }
    .shoe-card-cart {
        height: 50vh;
    }
    .cart-container {
        margin-top: 17%;
    }
    .info {
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .shoe-image-cart{
        width: 200px;
        height: 150px;
    }
    .shoe-card-cart {
        flex-direction: column;
        height: 70vh;
    }
    .cart-container {
        margin-top: 17%;
        margin-left: 5%;
        margin-right: 5%;

    }
    .info {
        font-size: 12px;
    }
    .shoe-card-cart button {
        bottom: 340px;
        left: 130px;
    }
}

@media (max-width: 300px) {
    .cart-container {
        margin-right: 3%;

    }
    .info {
        font-size: 13px;
    }
    .shoe-card-cart {
        flex-direction: column;
        height: 72vh;
    }
    .shoe-card-cart button {
        bottom: 350px;
        left: 110px;
    }
}


/* other details */
.emptyCartMessage{
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-shadow: 0px 3px 15px red;
    color: white;
}

.rejectMessage {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    text-shadow: 0px 3px 15px red;
}

.checkBtns {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 10px;
}

.collection {
    width: 15%;
    height: 30px;
    background: none;
    color: black;
    font-size: 20px;
    border: none;
    font-family: 'Lobster', cursive;
    transition: ease-in-out 0.3s;
    text-shadow: 0px 3px 15px white;
    outline: none;
}

.collection:hover {
    color: white;
    background: black;
    border-radius: 25px;
    text-shadow: 0px 3px 15px red;
}

.delivery{
    width: 15%;
    height: 30px;
    background: none;
    color: black;
    font-size: 20px;
    border: none;
    font-family: 'Lobster', cursive;
    transition: ease-in-out 0.3s;
    text-shadow: 0px 3px 15px white;
    outline: none;
}

.delivery:hover {
    color: white;
    background: black;
    border-radius: 25px;
    text-shadow: 0px 3px 15px red;
}

.collection-or-delivery {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 20px;
    text-shadow: 0px 3px 15px black;
    color: white;
    margin-bottom: 5%;
}

.collection-or-delivery form {
    display: flex;
    flex-direction: column;
}

.checkoutBtn {
    margin-bottom: 50px;
    width: 20%;
    height: 45px;
    background: white;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0px 10px 20px black;
    color: black;
    font-size: 30px;
    border: none;
    font-family: 'Lobster', cursive;
    outline: none;
    transition: ease-in-out 0.3s;
    text-shadow: 0px 3px 15px white;
}

.checkoutBtn:hover {
    color: white;
    background: black;
    border-radius: 25px;
    text-shadow: 0px 3px 15px red;
}

@media (max-width: 825px) {
    .collection-or-delivery {
        margin-bottom: 9%;
    }
    .checkoutBtn {
        height: 45px;
        padding: 5px;
        font-size: 30px;
    }
}

@media (max-width: 580px) {
    .collection-or-delivery {
        margin-bottom: 11%;
    }
    .checkoutBtn {
        height: 45px;
        padding: 6px;
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .collection-or-delivery {
        margin-bottom: 15%;
    }
    .checkoutBtn {
        height: 45px;
        padding: 10px;
        font-size: 20px;
    }

    .checkBtns {
        margin-bottom: 10%;
        margin-top: 5%;
        gap: 30px;
    }
    .delivery{
        width: 20%;
        height: 30px;
        font-size: 20px;
    }

    .collection {
        width: 20%;
        height: 30px;
        font-size: 20px;
    }
}
@media (max-width: 360px) {
    .collection-or-delivery {
        margin-bottom: 18%;
    }
    .checkoutBtn {
        height: 45px;
        width: 40%;
        right: 30%;
        padding: 10px;
        font-size: 20px;
    }

    .checkBtns {
        margin-bottom: 10%;
        margin-top: 5%;
        gap: 40px;
    }
    .delivery{
        width: 30%;
        height: 30px;
        font-size: 20px;
    }

    .collection {
        width: 30%;
        height: 30px;
        font-size: 20px;
    }
}
/* footer */

#footer {
    width: 100%;
    background: black;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 3%;
  }
  
  #footer span{
    text-shadow: 0px 3px 15px red;
    font-size: 33px;
  }
  
  #footer div {
    display: flex;
    gap: 30px;
  }
  
  #footer a {
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
  }
  
  #footer a:hover {
    text-shadow: 0px 3px 15px red;
  }
  
  @media (max-width: 425px) {
    #footer {
      font-size: 17px;
    }
  }
  
  @media (max-width: 360px) {
    #footer {
      font-size: 14px;
    }
    #footer div {
      gap: 20px;
    }
  }

  @media (max-width: 346px) {
    #footer {
      font-size: 13px;
    }
  }

  /* Loader Css */

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-shadow: -5px 6px 0px var(--shadow-color);
  }
  
  @media (max-width: 400px) {
    .loader {
      text-shadow: -2px 3px 0px var(--shadow-color);
    }
  }
  
  .loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOut {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }