body{
    margin: 0;
    padding: 0;
    font-size: 90%;
    font-family:'Lobster', cursive;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/wallpaper.jpg);
    background-attachment: fixed;
}

.homeBtn {
    position: fixed;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
    color: black;
    font-weight: 800;
    transition: ease-in-out 0.3s;
  }
  
  .homeBtn:hover {
      color: white;
      text-shadow: 0px 3px 15px red;
  }

  .heading {
    color: black;
    position: fixed;
    font-size: 40px;
    top: 0;
    left: 0;
    margin: 20px;
    text-shadow: 0px 10px 20px red;
}

.form-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: fixed;
    top: 25%;
    left: 38%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .form input{
      width: 300px;
      height: 30px;
      text-align: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      color: white;
      border: none;
      border-bottom: 2px solid black;
      outline: none;
  }

  .form-container h2 {
      color: white;
      text-shadow: 0px 3px 15px red;
  }

  .form textarea {
    width: 300px;
    height: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    color: white;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 12px;
  }

  .registerBtn{
    text-align: center;
    width: 50%;
    height: 33px;
    position: relative;
    left: 25%;
    background: none;
    color: black;
    border: 2px solid black;
    transition: ease-in-out 0.3s;
    font-family: 'Lobster', cursive;
}

.registerBtn:hover {
    color: white;
    background: black;
    text-shadow: 0px 2px 10px red;
}


@media (max-width: 1100px) {
  .form-container {
    left: 35%;
  } 
}

@media (max-width: 900px) {
  .loginBtn {
    font-size: 25px;
  }
  .form-container {
    left: 32%;
  } 
}

@media (max-width: 700px) {
  .form-container {
    left: 28%;
  } 
}

@media (max-width: 600px) {
  .homeBtn {
    text-shadow: 3px 10px 15px white;
  }
}

@media (max-width: 550px) {
  .form-container {
    left: 25%;
  } 
}

@media (max-width: 500px) {
  .form-container {
    left: 23%;
  } 
}


@media (max-width: 450px) {
  .loginBtn {
    font-size: 22px;
  }
  .form-container {
    left: 18%;
  }
  .heading {
    font-size: 35px;
  }
  .registerBtn{
    height: 30px;
  }
  form input{
    width: 280px;
    height: 25px;
  }
  .homeBtn {
    text-shadow: none;
  }
}

@media (max-width: 400px) {
  .form-container {
    left: 14%;
  }
}

@media (max-width: 360px) {
  .form-container {
    left: 8%;
  }
  .heading {
    font-size: 30px;
  }
  .loginBtn {
    font-size: 20px;
  }
}

@media (max-width: 330px) {
  .form-container{
    left: 5%;
  }
  .heading {
    margin: 10px;
    font-size: 27px;
  }
  .loginBtn {
    font-size: 18px;
    margin: 10px;
  }
  .homeBtn {
    margin: 10px;
    font-size: 23px;
  }
}

@media (max-width: 315px) {
  .form-container{
    left: 2%;
  } 
}

@media (max-width: 300px) {
  .form-container{
    left: 2%;
  }
  .form input{
    width: 280px;
    height: 25px;
  }
  .form textarea {
    width: 280px;
  }
}