body {
  margin: 0;
  padding: 0;
  font-size: 90%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/wallpaper.jpg);
  background-attachment: fixed;
  font-family: "Lobster", cursive;
}

/* advertSection */


#models-container p{
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0px 3px 15px black;
  height: 73vh;
  margin: 9% 0px 0px 5%;
  border: 5px solid white;
}

.picRedirect {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid white;
  padding: 8px;
  transition: ease-in-out 0.3s;
}

.picRedirect:hover{
  color: black;
  background-color: white;
}

@media (max-width: 1000px) {
  #models-container p {
    margin: 10% 0px 0px 5%;
  }
}

@media (max-width: 900px) {
  #models-container p {
    margin: 12% 0px 0px 5%;
  }
}

@media (max-width: 700px) {
  #models-container p {
    margin: 15% 0px 0px 5%;
  }
}

@media (max-width: 600px) {
  #models-container p {
    margin: 17% 0px 0px 5%;
  }
}

@media (max-width: 500px) {
  #models-container p {
    margin: 20% 0px 0px 5%;
  }
}

@media (max-width: 450px) {
  #models-container p {
    margin: 24% 0px 0px 5%;
  }
}

@media (max-width: 400px) {
  #models-container p {
    margin: 25% 0px 0px 5%;
  }
}

@media (max-width: 360px) {
  #models-container p {
    margin: 24% 0px 0px 5%;
  }
  .picRedirect {
    font-size: 15px;
  }
}

@media (max-width: 310px) {
  #models-container p {
    margin: 26% 0px 0px 5%;
  }
}

/* Shoe css */
.shoe-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 4px solid black;
  box-shadow: 0px 3px 30px black;
  font-size: 20px;
}

.shoe-card a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 30px;
  transition: ease-in-out 0.3s;
}

.shoe-card a:hover {
  color: white;
  text-shadow: 0px 3px 15px black;
}

.shoe-image {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

#sneakers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 1140px) {
  #sneakers-container {
    margin-left: 10%;
    margin-right: 10%;
    gap: 15px;
  }
}

@media (max-width: 1000px) {
  #sneakers-container {
    margin-left: 5%;
    margin-right: 5%;
    gap: 10px;
  }
}

@media (max-width: 885px) {
  #sneakers-container {
    margin-left: 3%;
    margin-right: 3%;
    gap: 7px;
  }
  .shoe-image {
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 680px) {
  #sneakers-container {
    margin-left: 2%;
    margin-right: 2%;
    gap: 5px;
  }
  .shoe-image {
    width: 180px;
    height: 130px;
  }
}

@media (max-width: 600px) {
  #sneakers-container {
    margin-left: 1%;
    margin-right: 1%;
    gap: 4px;
  }
  .shoe-image {
    width: 170px;
    height: 120px;
  }
}

@media (max-width: 550px) {
  #sneakers-container {
    margin-left: 1%;
    margin-right: 1%;
    gap: 2px;
  }
  .shoe-image {
    width: 150px;
    height: 90px;
  }
}

@media (max-width: 490px) {
  #sneakers-container {
    margin-left: 1%;
    margin-right: 1%;
    gap: 1px;
  }
  .shoe-image {
    width: 130px;
    height: 70px;
  }
}

@media (max-width: 430px) {
  #sneakers-container {
    margin-left: 1%;
    margin-right: 1%;
    gap: 1px;
  }
  .shoe-image {
    width: 100px;
    height: 50px;
  }
}

@media (max-width: 430px) {
  #sneakers-container {
    margin-left: 1%;
    margin-right: 1%;
    gap: 1px;
  }
  .shoe-image {
    width: 100px;
    height: 50px;
  }
}

@media (max-width: 360px) {
  #sneakers-container {
    margin-left: 0%;
    margin-right: 0%;
    gap: 1px;
  }
  .shoe-image {
    width: 105px;
    height: 55px;
  }
}

@media (max-width: 340px) {
  #sneakers-container {
    gap: 1px;
  }
  .shoe-image {
    width: 100px;
    height: 55px;
  }
}


/* Nav css */
.navSection {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 15%;
}

.navSection h1 {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  text-shadow: 0px 10px 20px red;
  font-size: 40px;
}

.productBtn img {
  position: fixed;
  top: 0;
  left: 68%;
  margin: 10px;
  width: 75px;
  height: 75px;
}

.productBtn img:hover {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  100% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
  }

  0% {
    transform: scale(0.9);
  }
}

#usernameDisplay {
  position: fixed;
  top: 0;
  left: 41%;
  margin: 35px;
  font-size: 20px;
  color: white;
  text-shadow: 0px 3px 15px red;
}

.logoutbtn-container button {
  position: fixed;
  top: 0;
  left: 76%;
  margin: 30px;
  font-size: 20px;
  background: none;
  border: 3px solid white;
  width: 110px;
  height: 40px;
  color: #ffffff;
  font-family: "Lobster", cursive;
  transition: ease-in-out 0.3s;
}

.logoutbtn-container button:hover {
  color: black;
  background: white;
  text-shadow: 0px 3px 15px red;
}

.redirectContainer a {
  position: fixed;
  top: 0;
  right: 4%;
  margin: 32px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

.redirectContainer a:hover {
  text-shadow: 0px 3px 15px red;
}

@media (max-width: 1070px) {
  .redirectContainer a {
    right: 1%;
  }
  #usernameDisplay{
    left: 35%;
  }
  .productBtn img {
    left: 62%;
  }

  .logoutbtn-container button {
    left: 74%;
  }
}

@media (max-width: 960px) {
  .logoutbtn-container button {
    left: 72%;
  }
}

@media (max-width: 840px) {
  #usernameDisplay{
    left: 33%;
    font-size: 17px;
    margin: 37px;
  }
  .productBtn img {
    left: 61%;
    width: 60px;
    height: 60px;
    margin: 12px;
  }
  .logoutbtn-container button {
    left: 71%;
    width: 100px;
    height: 35px;
    font-size: 17px;
    padding: 2px;
  }
  .redirectContainer a {
    right: 1.5%;
  }
}

@media (max-width: 770px) {
  .navSection h1 {
    margin: 23px;
    font-size: 33px;
  }
  #usernameDisplay{
    left: 32%;
    font-size: 15px;
    margin: 37px;
  }
  .productBtn img {
    left: 59%;
    width: 50px;
    height: 50px;
    margin: 15px;
  }
  .logoutbtn-container button {
    left: 69%;
    width: 90px;
    height: 30px;
    font-size: 15px;
    padding: 0px;
  }
  .redirectContainer a {
    right: 2%;
    font-size: 19px;
  }
}

@media (max-width: 650px) {
  .navSection h1 {
    margin: 15px;
    font-size: 30px;
  }
  #usernameDisplay{
    font-size: 15px;
    margin: 30px;
  }
  .productBtn img {
    left: 64%;
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  .logoutbtn-container button {
    left: 74%;
    width: 70px;
    height: 25px;
    font-size: 13px;
    margin: 25px;
  }
  .redirectContainer a {
    right: 0%;
    font-size: 16px;
    margin: 28px;
  }
}
@media (max-width: 560px) {
  .navSection h1 {
    margin: 20px;
    font-size: 25px;
  }
  #usernameDisplay{
    font-size: 13px;
    margin: 30px;
  }
  .productBtn img {
    left: 63%;
    width: 40px;
    height: 40px;
    margin: 15px;
  }
  .logoutbtn-container button {
    left: 72%;
    width: 64px;
    height: 25px;
    font-size: 12px;
    margin: 25px;
  }
  .redirectContainer a {
    left: 88%;
    font-size: 16px;
    margin: 28px;
  }
}

@media (max-width: 500px) {
  .navSection h1 {
    margin: 23px;
    font-size: 23px;
  }
  #usernameDisplay{
    font-size: 12px;
    margin: 32px;
  }
  .productBtn img {
    left: 61%;
    width: 35px;
    height: 35px;
    margin: 20px;
  }
  .logoutbtn-container button {
    left: 71%;
    width: 62px;
    height: 25px;
    font-size: 11px;
    margin: 25px;
  }
  .redirectContainer a {
    right: 1%;
    font-size: 16px;
    margin: 26px;
  }
}

@media (max-width: 470px) {
  .navSection h1 {
    margin: 18px;
    font-size: 25px;
  }
  #usernameDisplay{
    left: 34%;
    font-size: 9px;
    margin: 30px;
  }
  .productBtn img {
    left: 60%;
    width: 30px;
    height: 30px;
    margin: 20px;
  }
  .logoutbtn-container button {
    left: 69%;
    width: 60px;
    border: 2px solid;
    height: 20px;
    font-size: 10px;
    margin: 25px;
  }
  .redirectContainer a {
    left: 86%;
    font-size: 15px;
    margin: 25px;
  }
}

@media (max-width: 400px) {
  .navSection h1 {
    margin: 15px;
    font-size: 23px;
  }
  #usernameDisplay{
    left: 34%;
    font-size: 8px;
    margin: 26px;
  }
  .productBtn img {
    left: 58%;
    width: 25px;
    height: 25px;
    margin: 18px;
  }
  .logoutbtn-container button {
    left: 68%;
    width: 45px;
    border: 2px solid;
    height: 20px;
    font-size: 8px;
    margin: 22px;
  }
  .redirectContainer a {
    left: 84%;
    font-size: 15px;
    margin: 22px;
  }
  .navSection{
    height: 13%;
  }
}

@media (max-width: 360px) {
  .navSection h1 {
    margin: 10px;
    font-size: 20px;
  }
  #usernameDisplay{
    left: 35%;
    font-size: 7px;
    margin: 20px;
  }
  .productBtn img {
    left: 60%;
    width: 22px;
    height: 22px;
    margin: 12px;
  }
  .logoutbtn-container button {
    left: 70%;
    width: 35px;
    border: 1px solid;
    height: 15px;
    font-size: 7px;
    margin: 17px;
  }
  .redirectContainer a {
    left: 86%;
    font-size: 12px;
    margin: 17px;
  }
  .navSection{
    height: 10%;
  }
}

@media (max-width: 320px) {
  .navSection h1 {
    margin: 10px;
    font-size: 18px;
  }
  #usernameDisplay{
    left: 35%;
    font-size: 7px;
    margin: 20px;
  }
  .productBtn img {
    left: 63%;
    width: 20px;
    height: 20px;
    margin: 12px;
  }
  .logoutbtn-container button {
    left: 72%;
    width: 35px;
    border: 1px solid;
    height: 15px;
    font-size: 7px;
    margin: 17px;
  }
  .redirectContainer a {
    left: 87%;
    font-size: 12px;
    margin: 17px;
  }
  .navSection{
    height: 10%;
  }
}

/* Filter btn css */

#filter-buttons {
  display: flex;
  justify-content: center;
  margin: 5%;
  gap: 5%;
}

.brand {
  background-color: white;
  border: none;
  width: 150px;
  height: 120px;
  box-shadow: 0px 3px 20px black;
  transition: ease-in-out 0.3s;
}

.brand:hover {
  box-shadow: 0px 3px 20px red;
}

.brand img {
  width: 142px;
  height: 115px;
  margin-right: 15px;
}



@media (max-width: 515px) {
  .brand img {
    width: 95px;
    height: 80px;
    margin-right: 0px;
  }
  .brand {
    width: 105px;
    height: 90px;
  }
}

@media (max-width: 400px) {
  .brand img {
    width: 90px;
    height: 65px;
    margin-right: 0px;
  }
  .brand {
    width: 110px;
    height: 100px;
  }
}

@media (max-width: 360px) {
  #filter-buttons {
    gap: 2%;
  }
  .brand img {
    width: 85px;
    height: 55px;
  }
  .brand {
    width: 100px;
    height: 85px;
  }
}

@media (max-width: 315px) {
  #filter-buttons {
    gap: 2%;
  }
  .brand img {
    width: 75px;
    height: 50px;
  }
  .brand {
    width: 90px;
    height: 75px;
  }
}

/* review */
#review-container {
  width: 47vw;
  height: 15%;
  margin: 10% 0px 5% 2%;
  text-align: center;
  display: flex;
  box-shadow: 0px 3px 15px black;
}

.review-card {
  color: black;
  backdrop-filter: blur(5px);
  padding: 5px;
  font-size: 15px;
}


.commentSection button {
  border: none;
  width: 3%;
  display: flex;
  height: 20px;
  position: relative;
  top: 240px;
  right: 55px;
  background: none;
  font-size: 15px;
  font-weight: 800;
  color: white;
  text-shadow: 0px 3px 15px black;
  transition: ease-in-out 0.3s;
}

.commentSection button:hover {
  color: red;
  text-shadow: 0px 3px 15px white;
}

.modal {
  display: none;
  height: 60%;
  width: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.modal form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.modal input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  outline: none;
  text-align: center;
  width: 250px;
}

.reviewbtn {
  color: white;
  background: none;
  border: none;
  font-size: 16px;
  font-family: "Lobster", cursive;
  transition: ease-in-out 0.3s;
}

.reviewbtn:hover {
  text-shadow: 0px 3px 15px red;
}

.close {
  display: flex;
  position: fixed;
  top: 22%;
  right: 27%;
  color: white;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 800;
  transition: ease-in-out 0.3s;
}

.close:hover {
  text-shadow: 0px 5px 15px white;
  color: red;
}

.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  left: 25%;
  top: 20%;
}

.commentSection{
  display: flex;
}

.advantages {
  font-size: 19px;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0px 3px 15px black;
  padding: 10px;
  margin: 5% 0px 5% 0px;
}

.owl-carousel {
  overflow: hidden;
}
@media (max-width: 1100px) {
  .commentSection button {
    top: 220px;
  }
}

@media (max-width: 780px) {
  .review-card {
    font-size: 10px;
  }

  .commentSection button {
    right: 40px;
    top: 140px;
    font-size: 10px;
  }
  .advantages {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  .review-card {
    font-size: 9px;
  }
  #review-container {
    width: 48vw;
  }
}

@media (max-width: 550px) {
  .review-card {
    font-size: 8px;
  }
  #review-container {
    width: 49vw;
  }
  .advantages {
    font-size: 12px;
  }
  .modal {
    height: 60%;
    width: 70%;
  }
  .modal.active {
    left: 15%;
    top: 20%;
  }
  .close {
    top: 22%;
    right: 20%;
  }
}

@media (max-width: 470px) {
  .advantages {
    font-size: 10px;
  }
  .commentSection button {
    right: 40px;
    top: 120px;
  }
  .modal {
    height: 60%;
    width: 80%;
  }
  .modal.active {
    left: 10%;
    top: 20%;
  }
  .close {
    top: 22%;
    right: 13%;
  }
}

@media (max-width: 360px) {
  .advantages {
    font-size: 8px;
    margin: 5% 2px 5% 0px;
  }
  .commentSection button {
    right: 40px;
    top: 110px;
  }
  .modal {
    height: 60%;
    width: 90%;
  }
  .modal.active {
    left: 5%;
    top: 18%;
  }
  .close {
    top: 22%;
    right: 10%;
  }
}

/* footer */

#footer {
  width: 100%;
  background: black;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-bottom: 3%;
}

#footer span{
  text-shadow: 0px 3px 15px red;
  font-size: 33px;
}

#footer div {
  display: flex;
  gap: 30px;
}

#footer a {
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

#footer a:hover {
  text-shadow: 0px 3px 15px red;
}

@media (max-width: 346px) {
  #footer {
    font-size: 13px;
  }
}