body{
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/login\ wallpaper.jpg);
    background-attachment: fixed;
    object-fit: fill;
    font-family: 'Lobster', cursive;
}

#form-container{
    position: fixed;
    top: 20%;
    left: 38%;
    text-align: center;
    font-size: 20px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#form-container h2 {
    color: black;
    text-shadow: 0px 2px 15px white;
}

form input{
    width: 300px;
    height: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    color: white;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.registerBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    font-size: 28px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: 0.3s;
}

.registerBtn:hover{
    color: white;
    text-shadow: 0px 3px 15px red;
}

.homeBtn {
    position: fixed;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
    color: black;
    font-weight: 800;
    transition: ease-in-out 0.3s;
  }
  
  .homeBtn:hover {
      color: white;
      text-shadow: 0px 3px 15px red;
  }

  body p {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
}

.heading {
    color: black;
    position: fixed;
    font-size: 40px;
    top: 0;
    left: 0;
    margin: 20px;
    text-shadow: 0px 10px 20px red;
}

.login-btn {
    text-align: center;
    width: 50%;
    height: 33px;
    background: none;
    color: black;
    border: 2px solid black;
    transition: ease-in-out 0.3s;
    font-family: 'Lobster', cursive;
}

.login-btn:hover{
    color: white;
    background: black;
    text-shadow: 0px 2px 10px red;
}
@media (max-width: 1100px) {
    #form-container {
      left: 35%;
    } 
  }
  
  @media (max-width: 900px) {
    .registerBtn {
      font-size: 25px;
    }
    #form-container {
      left: 32%;
    } 
  }
  
  @media (max-width: 700px) {
    #form-container {
      left: 28%;
    } 
  }
  
  @media (max-width: 600px) {
    .homeBtn {
      text-shadow: 3px 10px 15px white;
    }
  }
  
  @media (max-width: 550px) {
    #form-container {
      left: 25%;
    } 
  }
  
  @media (max-width: 500px) {
    #form-container {
      left: 23%;
    } 
  }
  
  
  @media (max-width: 450px) {
    .loginBtn {
      font-size: 22px;
    }
    #form-container {
      left: 18%;
    }
    .heading {
      font-size: 35px;
    }
    .registerBtn{
      height: 30px;
    }
    form input{
      width: 280px;
      height: 25px;
    }
    .homeBtn {
      text-shadow: none;
    }
  }
  
  @media (max-width: 400px) {
    #form-container {
      left: 14%;
    }
  }
  
  @media (max-width: 360px) {
    #form-container {
      left: 10%;
    }
    .heading {
      font-size: 30px;
    }
    .registerBtn {
      font-size: 20px;
    }
  }
  
  @media (max-width: 330px) {
    #form-container{
      left: 7%;
    }
    .heading {
      margin: 10px;
      font-size: 27px;
    }
    .registerBtn {
      font-size: 18px;
      margin: 10px;
    }
    .homeBtn {
      margin: 10px;
      font-size: 23px;
    }
  }
  
  @media (max-width: 315px) {
    #form-container{
      left: 5%;
    } 
  }
  
  @media (max-width: 300px) {
    #form-container{
      left: 3%;
    }
  }

  /* Loader Css */

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-shadow: -5px 6px 0px var(--shadow-color);
}

@media (max-width: 400px) {
  .loader {
    text-shadow: -2px 3px 0px var(--shadow-color);
  }
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}