* {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 90%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/login\ wallpaper.jpg);
    background-attachment: fixed;
    font-family:'Lobster', cursive;
}

/* the sneaker */
.shoe-image{
    width: 100%;
    height: 235px;
    background: white;
    object-fit: cover;
}

#sneaker-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.shoe-card {
    background: red;
    flex-wrap: wrap;
    width: 30%;
    display: flex;
    border: 4px solid black;
    box-shadow: 0px 10px 20px black;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

.shoe-head {
    color: white;
    text-shadow: 0px 3px 15px black;;
}

.price {
    color: white;
    text-shadow: 0px 5px 15px black;
    font-family: sans-serif;
}

.purchaseBtn {
    color: white;
    text-shadow: 0px 3px 15px black;
    border: none;
    background: none;
    font-size: 18px;
    font-family:'Lobster', cursive;
    border-radius: 25px;
    transition: ease-in-out 0.3s;
}

.purchaseBtn:hover {
    background: black;
}

.add-form-container {
    display: none;
    height: 70%;
    width: 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.add-form-container form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.add-form-container input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    text-align: center;
    width: 250px;
}

.addbtn {
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    font-family: 'Lobster', cursive;
    transition: ease-in-out 0.3s;
}

.addbtn:hover {
    text-shadow: 0px 3px 15px red;
}

.close{
    display: flex;
    position: fixed;
    top: 18%;
    right: 27%;
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 800;
    transition: ease-in-out 0.3s;
}

.close:hover{
    color: red;
    text-shadow: 0px 5px 15px white;
}

.add-form-container.active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    left: 25%;
    top: 15%;
}

.update-form-container {
    display: none;
    height: 75%;
    width: 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.update-form-container form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.update-form-container input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    text-align: center;
    width: 250px;
}

.updateBtn {
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    font-family: 'Lobster', cursive;
    transition: ease-in-out 0.3s;
}

.updateBtn:hover {
    text-shadow: 0px 3px 15px red;
}

.close2{
    display: flex;
    position: fixed;
    top: 20%;
    right: 27%;
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 800;
    transition: ease-in-out 0.3s;
}

.close2:hover{
    color: red;
    text-shadow: 0px 5px 15px white;
}

.update-form-container.active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    left: 25%;
    top: 15%;
}

.deletebtn {
    color: white;
    text-shadow: 0px 3px 15px black;
    border: none;
    background: none;
    font-size: 18px;
    font-family:'Lobster', cursive;
    border-radius: 25px;
    transition: ease-in-out 0.3s;
}

.deletebtn:hover {
    background: black;
}

.updateBtnToggle {
    color: white;
    text-shadow: 0px 3px 15px black;
    border: none;
    background: none;
    font-size: 18px;
    font-family:'Lobster', cursive;
    border-radius: 25px;
    transition: ease-in-out 0.3s;
}

.updateBtnToggle:hover {
    background: black;
}

#addbtn-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.addBtn {
    color: white;
    text-shadow: 0px 3px 15px black;
    border: none;
    background: none;
    font-size: 22px;
    font-family:'Lobster', cursive;
    border-radius: 25px;
    transition: ease-in-out 0.3s;
}

.addBtn:hover {
    background: black;
}

.imgholder{
    display: none;
}

/* navbar */

.navSection {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15%;
}

.navSection h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    text-shadow: 0px 10px 20px red;
    font-size: 40px;
}

.homeBtn {
    position: fixed;
    top: 0;
    left: 70%;
    margin: 35px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.homeBtn:hover {
    text-shadow: 0px 3px 15px red;
}

.subHead {
    position: fixed;
    top: 0;
    left: 41%;
    margin: 35px;
    font-size: 20px;
    color: white;
    text-shadow: 0px 3px 15px red;
}

.logoutbtn-container button {
    position: fixed;
    top: 0;
    left: 76%;
    margin: 30px;
    font-size: 20px;
    background: none;
    border: 3px solid white;
    width: 110px;
    height: 40px;
    color: #ffffff;
    font-family: 'Lobster', cursive;
    transition: ease-in-out 0.3s;
}

.logoutbtn-container button:hover {
    color: black;
    background: white;
    text-shadow: 0px 3px 15px red;
}

.redirectContainer a {
    position: fixed;
    top: 0;
    right: 4%;
    margin: 32px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.redirectContainer a:hover {
    text-shadow: 0px 3px 15px red;
}

.itemNumber {
    position: fixed;
    top: 0;
    right: 2%;
    margin: 32px;
    font-size: 25px;
    color: white;
}

/* filters */

#filter-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
}

.brand {
    background-color: white;
    border: none;
    width: 150px;
    height: 120px;
    box-shadow: 0px 3px 20px black;
    transition: ease-in-out 0.3s;
}

.brand:hover{
    box-shadow: 0px 3px 20px red;
}

.brand img{
    width: 142px;
    height: 115px;
    margin-right: 16px;
}

#gender-container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.genderbtn {
    width: 17%;
    text-align: center;
    height: 30px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 10px 20px black;
    font-family:'Lobster', cursive;
    background: white;
    transition: ease-in-out 0.3s;
}

.genderbtn button {
    width: 100%;
    text-align: center;
    border: none;
    font-family: 'Lobster', cursive;
    background: white;
    height: 30px;
    transition: ease-in-out 0.3s;
}

.genderbtn button:hover {
    background: black;
    color: white;
    text-shadow: 0px 3px 15px red;
}

.genderbtn:hover {
    background: black;
    color: white;
    text-shadow: 0px 3px 15px red;
}

.searchbar-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#search {
    box-shadow: 0px 10px 20px black;
    border: 2px solid black;
    outline: none;
    width: 20%;
    height: 20px;
    text-align: center;
}

/* footer */

#footer {
    width: 100%;
    background: black;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 3%;
  }
  
  #footer span{
    text-shadow: 0px 3px 15px red;
    font-size: 33px;
  }
  
  #footer div {
    display: flex;
    gap: 30px;
  }
  
  #footer a {
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.3s;
  }
  
  #footer a:hover {
    text-shadow: 0px 3px 15px red;
  }