body{
    margin: 0;
    padding: 0;
    font-size: 90%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/login\ wallpaper.jpg);
    background-attachment: fixed;
}

/* the sneaker */
.shoe-image{
    width: 300px;
    height: 250px;
}

#sneaker-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.imgholder{
    display: none;
}