body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/wallpaper.jpg);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-size: 25px;
    font-weight: 800;
    color: black;
    text-decoration: none;
}